DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=replace-me-with-a-long-random-value
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=canaco_news
POSTGRES_USER=canaco_news
POSTGRES_PASSWORD=replace-me
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
